*{
    box-sizing: border-box !important;
}
li, h1, h2, h3, h4, h5, h6, form, html, p, input, div, body, ul, ol{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family:Roboto, "Helvetica Neue", Helvetica, Arial, 文泉驛正黑, "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif
}
a{
    text-decoration: none;
    color: #192a56;
}
li{
    list-style: none;
}
.clear-lt{
    clear: left;
}
/*Color Default*/
.primary-color{
    color: #192a56;
}
/* Button Default */
.btn{
    padding: 20px 50px;
}
.btn:hover{
    opacity: 0.9;
}
.btn-primary{
    background-color: #192a56;
    color: #fff;
}

header{
    height:65px;
    width:100%;
    background-color:rgba(245, 246, 250, 1);
    border-bottom: 1px solid #192a56;
}
.container{
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
}
.header-logo{
    float: left;
}
.logo{
    width:52px;
    margin-top:5px;
}
.header-title{
    float: left;
}
.header-title span{
    padding-left:20px;
    line-height:65px;
    font-size: 24px;
}
.header-list ul{
    float:right;
    
}
.header-list li{
    display: inline-block;
    padding: 20px 20px ;
    font-size:20px;
}
.header-list a:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid  #192a56;
    transition-timing-function: linear;
    animation-duration: 10s;
}
.header-list a.active{
    padding-bottom: 2px;
    border-bottom: 2px solid  #192a56;
}
.top-wrapper,.services,.products{
    margin-top:100px;
    clear: both;
}
.image-top{
    width: 100%;
}
.image-top:hover{
    transform: scale(1.01,1.01);
}
.section-title{
    text-align: center;
    color:#192a56;
    padding-bottom: 10px;
}
.section-services{
    margin-top:50px;
    width: 100%;
}
.item-section{
    width: 24%;
    float: left;
    margin-left: auto;
    border-radius: 20px;
    margin-right:10px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border:5px solid #dcdde1;    
}
.item-section .description{
    padding: 20px 5px 2px;
    font-size: 18px;
}
.item-image{
    width: 200px;
}
.item-image:hover{
    transform: scale(1.1,1.1);
}
.section-products{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.products .item-section{
    cursor: pointer;
}
.product-price,.product-star,.product-title{
    margin-top: 10px;
    color: #192a56;
}
.product-title{
    font-size: 18px;
}
.product-price{
    font-size: 20px;
    font-weight: bold;
}
.product-button a{
    background-color: #192a56;
    color: #fff;
    margin-top: 5px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 5px;
}
footer{
    border-top: 5px solid #192a56;
    clear: both;
    background-color:rgba(245, 246, 250, 1);
}
footer p{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.logo-footer{
    display: block;
    margin: 10px auto 0px;
    padding-top: 20px;
    width:52px;
}
